In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [10]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [11]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [14]:
# build the model
model = regression_model()

In [15]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 959us/step - loss: 322505.8438
Epoch 2/50
23/23 [==============================] - 0s 951us/step - loss: 203309.5781
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 116184.7422
Epoch 4/50
23/23 [==============================] - 0s 917us/step - loss: 59146.0625
Epoch 5/50
23/23 [==============================] - 0s 998us/step - loss: 26918.5527
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 11229.9287
Epoch 7/50
23/23 [==============================] - 0s 1ms/step - loss: 4937.1055
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 2879.0022
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 2361.9380
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 2230.4050
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 2164.4036
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 2110.1340
Epoch 13/50
23/23 [==============================] - 0s 1ms/step - loss: 2055.1777
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 1999.4867
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 1947.9929
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 1894.8276
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 1840.3885
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1789.5098
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 1741.0770
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 1689.7438
Epoch 21/50
23/23 [==============================] - 0s 969us/step - loss: 1641.9076
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 1597.9954
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 1546.4724
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 1501.3164
Epoch 25/50
23/23 [==============================] - 0s 946us/step - loss: 1458.0536
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 1415.9087
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 1375.0444
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 1335.8989
Epoch 29/50
23/23 [==============================] - 0s 941us/step - loss: 1297.6731
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 1258.6887
Epoch 31/50
23/23 [==============================] - 0s 936us/step - loss: 1223.5527
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 1188.4609
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 1156.1008
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 1121.0310
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 1088.3118
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 1058.0439
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 1029.2096
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 1001.7903
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 978.1374
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 950.4933
Epoch 41/50
23/23 [==============================] - 0s 1ms/step - loss: 926.1492
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 902.0025
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 879.2713
Epoch 44/50
23/23 [==============================] - 0s 980us/step - loss: 858.9653
Epoch 45/50
23/23 [==============================] - 0s 936us/step - loss: 837.5898
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 817.1957
Epoch 47/50
23/23 [==============================] - 0s 984us/step - loss: 799.3278
Epoch 48/50
23/23 [==============================] - 0s 882us/step - loss: 780.2242
Epoch 49/50
23/23 [==============================] - 0s 912us/step - loss: 762.1531
Epoch 50/50
23/23 [==============================] - 0s 914us/step - loss: 746.1642

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 834.3838

834.3837890625

In [18]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

834.3838106500309 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 361.2848815917969
MSE 2: 276.0950012207031
MSE 3: 155.44847106933594
MSE 4: 128.3742218017578
MSE 5: 117.35821533203125
MSE 6: 98.36158752441406
MSE 7: 105.35490417480469
MSE 8: 67.10413360595703
MSE 9: 84.55607604980469
MSE 10: 55.85861587524414
MSE 11: 53.3952522277832
MSE 12: 43.5634880065918